.main {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.img {
	border: 3px solid #0f0;
	box-shadow: 0 0 0.5rem 0.3rem #0f0;
}

.player {
	position: relative;
	width: 800px;
	height: 400px;
	transition: opacity 0.3s ease;
}

.playerBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 400px;
	background-color: #000;
	opacity: 0;
}

.controls {
	position: absolute;
	bottom: 7pt;
	right: 7pt;
	opacity: 0;
}

.leftArrow {
	position: absolute;
	bottom: 0;
	right: 2rem;
}

.rightArrow {
	position: absolute;
	bottom: 0;
	right: 0rem;
}

.player:hover .playerBackground {
	opacity: 0.1;
}

.player:hover .controls {
	opacity: 1;
}



