@keyframes backgroundFade {
	0% { 
		opacity: 0;
	}
	100% { 
		opacity: 0.5;
	}
}

@keyframes uiFade {
	0% { 
		opacity: 0;
	}
	100% { 
		opacity: 1;
	}
}

.main {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.img {
	border: 3px solid #0f0;
	box-shadow: 0 0 0.5rem 0.3rem #0f0;
}

.player {
	position: relative;
	width: 800px;
	height: 400px;
}

.playerBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 400px;
	background-color: #000;
	opacity: 0;
}

.leftButton {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 90px;
	height: 30px;
	background-color: #00f;
	opacity: 0;
}

.player:hover .playerBackground {
	animation: backgroundFade 0.3s forwards;
}

.player:hover .leftButton {
	animation: uiFade 0.3s forwards;
}

