@font-face {
  font-family: 'terminus'; 
  src: url('/fonts/terminus.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

.paragraph {
	margin-bottom: 4rem;
}

.main {
	position: relative;
	display: flex;
	font-family: 'terminus';
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-color: rgba(10, 10, 10, 255)
}

.githubLink {
	color: #00f;
	text-shadow: 0 0 15pt #00f;
}

.content {
	width: 70vw;
	padding-top: 4rem;
	font-size: 18pt;
	color: #fff;
	text-shadow: 0 0 15pt #fff;
}

.scanline {
  position: absolute;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
  	to bottom, 
  	rgba(10, 10, 10, 0.09), 
  	rgba(50, 50, 50, 0.09)
  );
  pointer-events: none; 
  animation: moveScanline 3s linear infinite; 
}


.titleContainer {
	position: relative;
	padding-top: 4rem;
	font-size: 36pt;
	color: #0f0; 
	text-shadow: 0 0 15pt #0f0;
}

.firstPostImage {
	display: flex;
	justify-content: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@keyframes moveScanline {
	0% {
		transform: translateY(-10rem);
	}
	100% {
		transform: translateY(100rem);
	}
}
