
.button {
	border: none;
	background: transparent;
}

.button:hover {
	animation: iconHover 0.3s forwards;
}

@keyframes iconHover {
	0% {
		background: transparent;
	}
	100% {
		background: rgba(255, 255, 255, 0.3);
	}
}
